/* This is a declaration block and may contain one or more rules. */
/* "body" is a selector */
/* "background: bisque" is a style rule also known as a declaration */
/* "background" is the property and "bisque" is the value within the declaration */

/* COLOR PALETTE 
Slategrey #708090
Hit Gray #a7b5b9
Stromboli #2e5e4e
Bon Jour #dbd3d8
Cascade #93a7aa
Hit Gray #a7b5b9 */



/* Global Styles */
/* 
  https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* Set the default font size to 10px (16*.625=10) */
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

h1,
h2,
h3 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

h1 {
    font-size: 7rem;
    line-height: 0.85;
}

h2 {
    font-size: 3rem;
    margin-top: 0;
}

h3 {
    font-size: 2.4rem;
    margin-top: 0;
}

body {
    background: #D5DCE6;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 1.4;
}

/* Links */
a {
    color: #dbd3d8;
    text-decoration: none;

}

a:hover {
    color: #a7b5b9;


}

.body-link {
    color: #708090;
    font-weight: bold;
}

.body-link:hover {
    color: #2e5e4e;
    font-weight: bold;
}

.btn {
    background: #2e5e4e;
    color: whitesmoke;
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
    padding: 7px;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: .1em;
    line-height: 1;
}

.content-wrapper {
    margin: 0 auto;
    padding: 30px;
    /* The element will not exceed 900px, but will equal 100% of the viewport window if less than 900px. */
    max-width: 900px;
}

/* HOME */
.home {
    background: url(../images/olympic_bg.jpeg) no-repeat;
    background-size: cover;
    /* fit the image to the size (width) of the viewport */
    display: flex;
    flex-direction: column;
}

/* .home .content-wrapper is a descendent selector and applies style to the background text on the index.html file. */
.home .content-wrapper {
    flex: 1 0 auto;
}

/* The background color below as 3 RGB values and the number folling the slash is the opactiy value */
.content-bg {
    background: rgb(255 255 255 / 0.9);
    padding: 30px;
    border-radius: 10px;
}

.headContainer {
    display: flex;
    flex-wrap: wrap;
}

.profileHeader {
    flex: 75%;
}

.profileHeader h2 {
    margin-top: 10px;
}

.profileImg {
    color: red;
    margin: 0px 0px;

}

.profileImg img {
    margin-top: 5px;
    max-width: 100px;
    border-radius: 50%;
    box-shadow: 5px 8px 25px black;
}

@media screen and (max-width:430px) {
    .profileHeader h1 {
        font-size: 3.6rem;
    }

    .profileHeader h2 {
        font-size: 1.4rem;
    }

    .profileImg img {
        max-width: 55px;
        margin-top: 0;
    }
}

@media screen and (max-width:650px) {
    .home .content-wrapper {
        padding: 10px;
    }

    .content-bg {
        padding: 20px;
    }
}

.tile-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tile {
    background: rgb(255 255 255 / 0.9);
    display: flex;
    border-radius: 10px;
    margin-top: 25px;
    height: 100px;
    width: 30%;
    font-weight: bold;
}

.tile a {
    display: flex;
    align-items: center;
    text-align: center;
    color: #2e5e4e;
    width: 100%;
    height: 100%;
}

.tile a:hover {
    color: whitesmoke;
}

.tile p {
    width: 100%;
}

.tile:hover {
    background-color: #2e5e4e;
    opacity: 90%;
    color: whitesmoke;
}

/* RESUME */
/* .resume header only applied to the header on the resume page */
/* the ::before pseudo element creates and element that is the first child of the selected element. In this case the header. You must use the content property for this to work. */
.resume header::before {
    /* adding the center value to the end of the background property ensures the main part of the image is seen in the header */
    background: url(../images/olympic_bg.jpeg);
    background-position: 0 35%;
    background-size: cover;
    /* The content property must be used for the ::before pseudo element to work. If not text is needed, just used empty quotes. */
    content: '';
    /* Display must be set to block so the height can be set. */
    display: block;
    /* Set the default height of the content otherwise the element takes on the height of the content. Since the content is set to "" the height will be 0 unless otherwise specified. */
    height: 375px;
}

.resume-section {
    margin-bottom: 50px;

}

.resume-section h2 {
    border-bottom: 2px dashed #708090;
}

.download-link {
    position: fixed;
    top: 5px;
    left: 5px;
    font-size: 1.5rem;
}

/* Profile */

/* Projects */
.project-item {
    margin: 30px 0;
}

.project-item img {
    width: 300px;
}

@media screen and (min-width: 860px) {
    .project-item {
        display: flow-root;
    }

    .project-item img {
        float: left;
        margin-right: 20px;
    }

}

@media screen and (min-width:650px) and (max-width: 859px) {
    .project-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }

    .project-item img {
        width: 100%;
    }
}

@media screen and (max-width:500px) {
    .project-item img {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 1200px) {
    .download-link {
        position: absolute;
    }
}

@media screen and (max-width: 500px) {
    .resume header::before {
        height: 200px;
    }

    h1 {
        font-size: 4.6rem;
    }

    h2 {
        font-size: 1.7rem;
    }

}

/* Work Experience */
.work-item {
    margin: 30px 0;
}

.work-details p {
    margin: 0;
}

@media screen and (min-width:860px) {
    .work-item {
        display: grid;
        grid-template-columns: 300px 1fr;
        column-gap: 20px;
    }

    .work-summary p:first-child {
        margin-top: 0;
    }
}

/* Education */
.education-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px 0;
}

.education-item p {
    margin: 0;
}

.education-item h3 {
    flex: 1 0 90%;
    margin: 0;
}

.school {
    position: relative;
}

.link {
    margin-left: 25px;
    height: 15px;
}

.link:hover {
    height: 20px;
}

@media screen and (max-width: 430px) {
    .link {
        display: none;
    }
}

/* FOOTER */
footer {
    color: whitesmoke;
    background: #2e5e4e;
}

.socials {
    list-style-type: none;
    padding: 0;

}

.socials li {
    display: inline-block;
    margin-left: 10px;
}

.socials img {
    width: 32px;
    opacity: 0.5;
}

.socials img:hover {
    opacity: 1;
}

@media screen and (min-width: 860px) {
    footer {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }
}

@media screen and (max-width:859px) {
    footer {
        text-align: center;
        padding: 10px;
    }

}

/* responsive image grid */

.photos-wrapper {
    margin: 0 auto;
    padding: 15px;
    /* The element will not exceed 900px, but will equal 100% of the viewport window if less than 900px. */
    max-width: 1300px;
}

.header {
    /* text-align: center; */
    padding: 0px;
}

.row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%;
    /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

/* .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    animation-name: scale-in;
    animation-duration: .4s;
}

@keyframes scale-in {
    0% {
        img: 0%;
    }

    100% {
        img: 100%;
    }
} */

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

.photosLink {
    color: #2e5e4e;
    font-weight: bold;
}


/* TRIPS */

.trips-wrapper {
    margin: 0 auto;
    padding: 30px;
}
.trips-main {
    padding: 15px 25px;
} 

.trips-overview {
    width: 100%;
}

.trips-row {
    display: flex;
}

.trips-col {
    max-width: 50%;
    width: 100%;
}

.trips-image {
    display: block;
    margin: 0 auto;
    width: 80%;
}

.trip-holder {
    min-height: 100vh;
}

.trip-holder a {
    color: #2e5e4e;
    font-weight: bold;
}

/* Trips Image Gallery */

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
    width: 90%;
    margin: 0 auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .gallery-row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .gallery-column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }